# eclipse project
.project
.settings
.idea
.vscode
/slash-reloader-config.json
/config.json
/lavalink-server.json
/lavasfy-servers.json
/misc.json
out
node_modules
db
package-lock.json
*.env
.env
node_modules/
dist/
*.key
*.pub
copy.sh
connect.sh
*config.json
config.json
*.ppk
*.pem
db.json
db-backups*
*.sqlite